body{
    font-family: Roboto,Arial,sans-serif;
 }
 .container{
     margin-left: 60px;
     margin-right: 548px;
     border: 1px solid black;
     padding: 24px;
     padding-right: 100px;
     
 }
 .img{
     display: inline;
 }
     .span1{
         margin-left: 20px;
         font-size: large;
     }
   
  #container{
      margin-top: 20px;
  }  

 
